/* Global Styling here */

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.height {
  height: 50vh;
}

.enter {
  position: relative;
  bottom: 20vh;
  cursor: pointer;
  border: solid;
  border-color: #bd8d4c;
  text-align: center;
  width: 15%;
  text-decoration: none;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.enter:hover {
  background-color: #bd8d4c;
}

.title-one {
  font-size: 5em;
  line-height: 1.2;
  position: relative;
  top: 300px;
  width: 100%;
  text-align: center;
}

.title-three {
  font-size: 5em;
  line-height: 1.2;
  position: relative;
  top: 300px;
  width: 100%;
  text-align: center;
}

.title-two {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  position: relative;
  top: 320px;
}
/* 
.heading {
  position: absolute;
  top: 200px;
  left: 1%;
}   */

.front {
  height: 100vh;
  position: relative;
}


.overlay {
  z-index: 9;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}

.second {
  height: 100vh;
  position: relative;
}

.white {
  color: white;
}


.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

.bckg {
  background-image: url('../assets/rider.jpg');
  background-color: #0c0c0b;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  height: 100vh;
}

.bckg2 {
  background-image: url('../assets/battle-scene.jpg');
  background-color: #0c0c0b;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.cloak {
  background-image: url('../assets/cloak-bg.png');
  background-color: #0c0c0b;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.gold {
  color: #fc9a11;
}

.wallet-scroll {
  cursor: pointer;
  border: solid;
  border-color: #bd8d4c;
  background-color: #bd8d4c;
  text-align: center;
  width: 12%;
  margin: auto;
  
}
