/* Global Styling here */

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.font-meridian {
  font-family: 'Merienda', cursive;
}

.font-medieval {
  font-family: 'MedievalSharp', cursive;
}

